@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Dancing+Script:wght@700&family=Fuzzy+Bubbles&family=Poppins:wght@500&family=Short+Stack&display=swap');

/* Sources

1st Superman: https://static.wikia.nocookie.net/personajes-de-ficcion-database/images/6/64/Superman.png/revision/latest/scale-to-width-down/524?cb=20200909145020&amp;path-prefix=es
Current Superman: https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/51def5cd-3c9b-44f6-8052-6ada3ee4e9f7/d6h231y-2a0b5d8e-593f-45f1-aa95-a94dca2eeb68.png/v1/fill/w_400,h_800/dc_new_earth_superman_animated_by_kyomusha_d6h231y-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODAwIiwicGF0aCI6IlwvZlwvNTFkZWY1Y2QtM2M5Yi00NGY2LTgwNTItNmFkYTNlZTRlOWY3XC9kNmgyMzF5LTJhMGI1ZDhlLTU5M2YtNDVmMS1hYTk1LWE5NGRjYTJlZWI2OC5wbmciLCJ3aWR0aCI6Ijw9NDAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.ooLBJQDbZ3vtcQN9nDMMouxKWVOrnOsPUpZ08YTDSCI
Krypto Star: https://i.imgur.com/V77ljqX.png
Krypto Custom: https://i.imgur.com/HcQOgUx.png

/* Hidden */

#sb_top,
#sb_clock,
#sb_search,
#sb_banner,
#sb_lang,
#page_banner,
#aio_sidebar_placeholder,
.gallery-item-qty,
hr,
#sb_side,
.pet--smallname,
#petLead,
.pet--petpetheader {
    display: none;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    /* background-color: #B4B7BB; */
    background-color: #198F95;
    min-height: 100% !important;
    min-width: 1670px;
}

#container {
    min-height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page_content {
    position: relative;
    height: 100%;
    width: 1650px;
}

/* Top Section */

#petTop {
    display: flex;
    flex-direction: column;
}

.pet--header {
    font-size: 3rem;
    padding: 10px;
    margin: 20px 0 10px 0;
    text-align: left;
}

.white_pet {
    color: white;
}

#petInfo {
    display: grid;
    grid-template-columns: repeat(3,550px);
    height: 700px;
    width: 100%;
    margin-top: 10px;
    justify-items: center;
    align-items: center;
}

#petImage {
    display: flex;
    height: 600px;
}

.pet--image {
    content: url(https://i.imgur.com/x4izmNT.png);
    width: 400px;
    height: 400px;
    margin: auto;
}

.pet--image::after {
    content: 'hello';
}

.platform {
    width: 400px;
    height: 100px;
    position: absolute;
    left: 70px;
    top: 580px;
    background-color: #76BED0;
    border-radius: 50%;
    z-index: -1;
    color: #76BED0;
    border: 2px solid #510D0A;
}

.superman {
    position: absolute;
    right: 0;
    top: 40px;
}

.krypto {
    width: 450px;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.pet--battleimg {
    /* position: absolute;
    background-image: url(https://i.imgur.com/JIlXlAi.png);
    width: 0;
    height: 0;
    padding: 140px;
    background-size: cover;
    top: 70px;
    left: 470px; */
    /* This is the starred image. Removing for now */
    display: none;
}

/* Pet Stats Box */

#petStats {
    padding: 30px 20px;
    background-color: #76BED0;
    width: 400px;
    height: fit-content;
    border: 3px solid #510D0A;
    font-size: 1.15rem;
}

.pet--statsheader,
.pet--jobsheader {
    color: #510D0A;
    font-size: 2rem;
}

.pet--jobsheader {
    margin-top: 5px;
}

.pet--statsheader::before,
.pet--statsheader::after,
.pet--jobsheader::before,
.pet--jobsheader::after,
.pet--recordheader::before,
.pet--recordheader::after {
    content: '';
}

#petStats > div {
    padding: 5px;
}

.pet--hp,
.pet--strength,
.pet--defence,
.pet--movement,
.pet--intelligence,
.pet--fishing {
    border-left: 2px solid #510D0A;
    border-right: 2px solid #510D0A;
    padding: 5px;
    background-color: white;
    opacity: .7;
}

.pet--hp {
    border-top: 2px solid #510D0A;
    border-radius: 10px 10px 0 0;
    padding-top: 10px;
    margin-top: 5px;
}

.pet--fishing {
    border-bottom: 2px solid #510D0A;
    border-radius: 0 0 10px 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.petJobs > div {
    padding: 2px;
}

/* Petpet */

#petPetpet {
    position: absolute;
    top: 660px;
    left: 930px;
    height: 230px;
    width: 230px;
    background-color: white;
    border: 2px solid #510D0A;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.pet--petpetimg {
    margin: 0 auto;
}

.pet--petpetdesc {
    position: absolute;
    top: 40px;
    left: 40px;
}

/* Pet Record */

#petRecord {
    position: absolute;
    left: 530px;
    top: 120px;
    font-size: 1.15rem;
    border: 2px solid #510D0A;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.pet--recordheader {
    color: #510D0A;
    font-size: 1.3rem;
}

/* Links and Trophies */

#petLinks {
    background-color: white;
    width: 80px;
    position: absolute;
    right: 515px;
    top: 210px;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #510D0A;
    display: flex;
    flex-direction: column;
}

.pet--trophyimg {
    width: 60px;
}

#petTrophies {
    display: none;
}