@import url(https://fonts.cdnfonts.com/css/zen-old-mincho);
@import url('https://fonts.cdnfonts.com/css/witchy');

#page_banner, 
#sb_top, 
#sb_side, 
#page_footer, 
.ul--headerlabel,
#userLookupCollections strong, 
.ul--collectionslabel::after, 
hr, 
#aio_sidebar, 
#aio_sidebar_placeholder {
    display: none
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    transform: translateX(20px);
}

li::before {
    content: "\2022";
    color: #FF8F00; 
    display: inline-block; 
    width: 12px;
    margin-left: -12px;
}

strong {
    color: #6b42a1;
    font-size: 1.1rem;
}

.ul--petname {
    color: #6b42a1;
}

html {
    font-size: 12px;
    font-family: "Zen Old Mincho", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #FF8F00 black;
}

html::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: black ;
}

html::-webkit-scrollbar-thumb {
    background: #FF8F00;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

body {
    background-image: url(https://i.imgur.com/DWQx7D1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#page_content {
    width: 700px;
}

/* Page Event */
#page_event {
    position: absolute;
    top: 20px;
    left: 20px;
}

/* User Lookup */
#userLookupContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 35px auto 40px;
    gap: 0;
}

#userLookupContent > div {
    border-radius: 25px;
    box-shadow: 0 0px 30px 7px #FF8F00;
    animation: borderGlow 4s ease-in-out infinite;
    background-color: #fff;
    margin-bottom: 50px;
    box-sizing: border-box;
    opacity: 0.9;
    width: 100%;
}

/* Page Header */
.ul--username {
    font-size: 80px;
    text-shadow: white 0px 0px 10px;
    color: white;
    font-weight: lighter;
}

.ul--username,
.ul--sectionheader strong {
    font-family: "Witchy", cursive, sans-serif;
}

/* User Description & Nav */
#userLookupDesc {
    color: #fff !important;
    background-color: transparent !important;
    font-size: 14px;
    font-weight: bold;
    box-shadow: none !important;
    margin: 20px !important;
    opacity: 1 !important;
}

#nav a {
    padding: 20px;
    letter-spacing: 2px;
    color: #fff;
    transition-duration: .5s;
}

#nav a:hover {
    color: #7149ac;
    filter: brightness(1.5);
    transition-duration: .5s;
}

/* Section headers */
.ul--petsheader strong, 
.ul--sitetrophiesheader strong, 
.ul--gametrophiesheader strong {
    font-family: "Witchy", sans-serif;
    font-size: 30px;
    text-transform: lowercase;
    letter-spacing: 3px;
    font-weight: normal;
    color: #573669
}

/* User Lookup Info */
#userLookupInfo {
    display: grid;
    grid-template-areas: 
        "text shield"
        "text shield"
        "text aviStamp";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
    line-height: 1.7;
}

#userLookupShield {
    content: url('https://i.imgur.com/iV5S3xX.png');
    width: 200px;
    transform: scaleY(.9);
}

#userLookupCollections {
    grid-area: aviStamp;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}

.ul__avatars {
    position: relative;
}

.ul__avatars::after {
    content: url('https://i.imgur.com/MuvD753.gif');
    position: fixed;
    top: 50px;
    left: calc(50% + 230px);
    animation: levitate 3s ease-in-out infinite;
}

.ul--stampsimg {
    content: url('https://i.imgur.com/AyvkEOD.png');
}

.ul__stamps {
    position: relative;
}

.ul__stamps::before {
    content: url('https://i.imgur.com/KKjndEs.png');
    position: absolute;
    left: -5px;
    top: 40px;
    z-index: 1;
    transform: scale(.48);
}

.ul__stamps::after {
    content: url('https://i.imgur.com/F0FA3zP.gif');
    position: absolute;
    left: -57px;
    top: -72px;
    transform: scale(.30);
}

.ul--avatarsimg {
    width: 75px;
}

.ul--stampsimg {
    width: 80px;
}

/* LookupLinks */
#userLookupLinks {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 10px 30px;
}

.ul__trades,
.ul__auctions,
.ul__wishlist {
    height: 60px !important;
}

#userLookupLinks img, 
#userLookupInfo img {
    transition: 0.5s
}

.ul__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 67px;
    width: 55px;
    justify-content: start;
}

.ul__link div {
    margin-top: 5px;
}

.ul__neofriend div {
    transform: translateY(-5px);
}

/* Pets */
#userLookupPets {
    padding: 20px 30px 30px;
    width: 100%;
}

#userPetList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 30px;
}


.ul--petname {
    margin: 5px 0;
}

/* Images on hover */
#userLookupPets img {
    width: 100px;
    transition-duration: .5s;
}

#userLookupSiteTrophies img, 
#userLookupGameTrophies img {
    height: 60px;
    width: auto;
    transition-duration: .5s;
}

#userLookupPets img:hover, 
#userLookupSiteTrophies img:hover, 
#userLookupGameTrophies img:hover,
.ul--linkimg:hover {
    opacity: 1;
    filter: brightness(1.3);
    transition-duration: .5s;
    transform: scale(1.02);
}

a, .ul--button {
    color: #9c58db;
    letter-spacing: .5px !important;
    transition: .5s
}

/* Links */
.ul--linkimg {
    width: 40px;
    opacity: .9px;
    transition: .5s;
}

.ul--tradesimg {
    content: url(https://i.imgur.com/dbFpw23.png);
}

.ul--auctionsimg {
    content: url(https://i.imgur.com/8VYicOb.png);
}

.ul--wishlistimg {
    content: url(https://i.imgur.com/wkvQDgx.png);
}

.ul--neomailimg {
    content: url(https://i.imgur.com/pA8o2ee.png);
}

.ul--scoresimg {
    content: url(https://i.imgur.com/LdLVuhg.png);
}

.ul--neofriendimg {
    background: no-repeat center/contain url(https://i.imgur.com/hswe5bn.png);
    object-position: -999999px;
    transition: 0.5s
}

.ul--headerlabel::after {
    content: ": "
}

/* Trophies */
#userLookupSiteTrophies,
#userLookupGameTrophies {
    padding: 25px 30px;
}

.ul--sitetrophiesheader,
.ul--gametrophiesheader {
    margin-bottom: 20px;
}

.ul--sitetrophyname,
.ul--gametrophyname {
    margin: 5px 0;
}

.gamelink {
    color: #6b42a1;
    transition: .5s;
}

/* User Report */
#userReportBlock {
    padding: 10px 15px;
    margin: 0 !important;
    width: fit-content !important;
}

/* Music */
#music {
    border-radius: 10px;
    position: fixed;
    left: 10px;
    bottom: 10px;
}

/* Custom Animations */
#witch {
    content: url(https://i.imgur.com/tC1taFk.png);
    position: fixed;
    width: auto;
    height: 450px;
    top: 120px;
    left: calc(50% + 300px);
    z-index: 1;
    animation: levitate 3s ease-in-out infinite
}

@keyframes levitate {
    0% {
        transform: translatey(0);
    } 
    50% {
        transform: translatey(-35px);
    } 
    100% {
        transform: translatey(0);
    }
}

@keyframes borderGlow {
    0% {
        box-shadow: 0 0px 30px 7px #FF8F00;
    }
    50% {
        /* box-shadow: 0 0px 30px 3px purple; */
        box-shadow: 0 0px 30px 1px #FF8F00;
    }
    100% {
        box-shadow: 0 0px 30px 7px #FF8F00;
    }
}

@keyframes fontGlow {
    0% {
        text-shadow: #FF8F00 0px 0px 15px;
    }
    50% {
        text-shadow: #FF8F00 0px 0px 5px;
    }
    100% {
        text-shadow: #FF8F00 0px 0px 15px;
    }
}

@media screen and (max-width: 1349px) {
    #witch, .ul__avatars::after, #music {
        display: none;
    }
}

/* Please use this HTML 

<div id="nav">
    <a href="https://www.grundos.cafe/explore/">explore</a>
    <a href="https://www.grundos.cafe/objects/">shops</a>
    <a href="https://www.grundos.cafe/games/">games</a>
    <a href="https://www.grundos.cafe/~Developer">css</a>
    <a href="https://www.grundos.cafe/#/">exit</a>
</div>
<div id="witch"> </div>
    <audio id="music" controls="" src="https://cdn.discordapp.com/attachments/1153761698738610207/1153886948650405938/witches.mp3">
    Your browser does not support the audio element.
</audio>

*/
