/* HTML

<div id="nav">
    <a id="nav_info" href="#userLookupInfo">Info</a>
    <a id="nav_pets" href="#userLookupPets">Pets</a>
    <a id="nav_trophies" href="#userLookupSiteTrophies">Trophies</a>
    <a id="nav_css" href="https://www.grundos.cafe/~Developer/">CSS</a>
    <a id="nav_exit" href="https://www.grundos.cafe">Exit</a>
</div>
<div id="nav">
    <a id="create_pet" href="https://www.grundos.cafe/addpet/">Create Pet</a>
    <a id="explore" href="https://www.grundos.cafe/explore/">Explore</a>
    <a id="games" href="https://www.grundos.cafe/games/">Games</a>
    <a id="shops" href="https://www.grundos.cafe/objects/">Shops</a>
    <a id="boards" href="https://www.grundos.cafe/neoboards/">Boards</a>
</div>
<audio class="sea_shanty" controls="" preload="auto" src="https://cdn.discordapp.com/attachments/1153761698738610207/1155399813492391936/Sea_Shanty_2.mp3"></audio>
<img class="stamp_overlay" src="https://cdn.discordapp.com/attachments/1153761698738610207/1155377987995320350/Farming_cape_emote.webp" />
<div class="top_buttons">
    <a class="home-button">
        <div class="inner_button">
            <span>New User? </span>
            <span>Sign up here</span>
        </div>
    </a>
    <a class="home-button">
        <div class="inner_button">
            <span>Free player?</span>
            <span>Play Now!</span>
            <span class="play_world">(OldSchool 1)</span>
        </div>
    </a>
    <a class="home-button">
        <div class="inner_button">
            <span>Member?</span>
            <span>Play Now!</span>
            <span class="play_world">(OldSchool 2)</span>
        </div>
    </a>
</div>
<p class="user_text">Zezima was just spotted trading in Falador park in World 2!</p>
*/

/* Hidden Content */
#sb_top,
#sb_side,
#page_banner,
.ul--header,
hr,
#aio_sidebar_placeholder {
    display: none;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
}

/* Background and General Containers */
body {
    background-color: black;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

#container {
    background: url('https://www.runescape.com/img/rsp777/bg2.jpg') repeat-y center top;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 50px 100px;
    width: 815px;
    display: flex;
    flex-direction: column-reverse;
}

#page_content {
    width: 100%;
}

#userLookupInfo, #userLookupLinks, #userLookupPets,
#userLookupSiteTrophies {
    position: relative;
}

#userLookupInfo {
    padding-bottom: 20px;
}

#userLookupLinks {
    padding: 20px 0 35px 0;
}

#userLookupPets, #userLookupSiteTrophies {
    padding-bottom: 40px;
}

#userLookupInfo::after, #userLookupLinks::after, #userLookupPets::after, 
#userLookupSiteTrophies::after {
    background: #6B7B17;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}

/* Header */
#page_footer { 
    content: url('https://i.imgur.com/pBDA6JU.png');
    text-align: center;
    box-sizing: border-box;
    max-width: 100%;
    width: 800px;
    height: 150px;
}

/* Page Event */
#page_event {
    position: absolute;
    top: 20px;
    left: 20px;
    width: fit-content;
}

/* Description */
#userLookupDesc {
    position: absolute;
    top: -330px;
    left: 0;
    padding: 0 30px;
    width: 100%;
}

.sea_shanty {
    position: absolute;
    top: 160px;
    left: 390px;
    border: 3px solid black;
}

#nav {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 220px;
    justify-content: center;
    background: black;
    border: 2px solid #382418;
    padding: 6px;
    margin-bottom: 15px;
    font-size: 1.1rem;
    line-height: 1.6;
}

#nav > a {
    color: #90c040;
    font-weight: lighter;
    margin-left: 35px;
}

#nav_info::before, #nav_pets::before, #nav_trophies::before,
#nav_css::before, #nav_exit::before, #create_pet::before,
#explore::before, #games::before, #shops::before, #boards::before {
    content: '';
    height: 15px;
    width: 30px;
    position: absolute;
    margin-left: 10px;
}

#nav_info::before {
    background: url('https://www.runescape.com/img/rsp777/title2/create.gif') no-repeat center/contain;
    left: 30px;
    top: 11px;
}

#nav_pets::before {
    background: url('https://www.runescape.com/img/rsp777/title2/status-icon.gif') no-repeat center/contain;
    left: 30px;
    top: 36px;
}

#nav_trophies::before {
    background: url('https://www.runescape.com/img/rsp777/title2/hiscore.gif') no-repeat center/contain;
    left: 30px;
    top: 61px;
}

#nav_css::before{
    background: url('https://www.runescape.com/img/rsp777/title2/settings.png') no-repeat center/contain;
    left: 30px;
    top: 86px;
}

#nav_exit::before {
    background: url('https://www.runescape.com/img/rsp777/title2/launcher.png') no-repeat center/contain;
    left: 30px;
    top: 111px;
}

#create_pet::before {
    background: url('https://www.runescape.com/img/rsp777/title2/status-icon.gif') no-repeat center/contain;
    left: 30px;
    top: 165px;
}

#explore::before {
    background: url('https://www.runescape.com/img/rsp777/title2/globe.gif') no-repeat center/contain;
    left: 30px;
    top: 190px;
}

#games::before {
    background: url('https://www.runescape.com/img/rsp777/title2/bonds.gif') no-repeat center/contain;
    left: 30px;
    top: 215px;
}

#shops::before{
    background: url('https://www.runescape.com/img/rsp777/title2/shop.gif') no-repeat center/contain;
    left: 30px;
    top: 240px;
}

#boards::before {
    background: url('https://www.runescape.com/img/rsp777/title2/comment.gif') no-repeat center/contain;
    left: 30px;
    top: 265px;
}

.top_buttons {
    position: absolute;
    top: 0;
    right: 90px;
}

.home-button {
    background: url('https://www.runescape.com/img/rsp777/splash/compare_users.gif') no-repeat center;
    color: white;
    display: inline-block;
    font-weight: bold;
    height: 103px;
    margin-right: 8px;
    padding: 11px;
    text-align: center;
    vertical-align: top;
    width: 130px;
}

.home-button:hover {
    color: white;
    text-decoration: none;
}

.inner_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.play_world {
    font-size: 0.8rem;
}

.user_text {
    color: white;
    position: absolute;
    right: 130px;
    bottom: 50px;
    font-size: 1rem;
}

/* Links */
.ul__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.ul--linkimg {
    height: 50px;
    margin-bottom: 10px;
}

.small-image {
    transition-duration: .7s;
}

.small-image:hover {
    filter: brightness(1.5);
    transition-duration: .7s;
    transform: scale(1.1);
}

.ul--tradesimg {
    content: url('https://i.imgur.com/sbJ8hTf.png');
}

.ul--auctionsimg {
    content: url('https://i.imgur.com/ijIy6z0.png');
}

.ul--wishlistimg {
    content: url('https://i.imgur.com/9SOYIXf.png');
}

.ul--scoresimg {
    content: url('https://i.imgur.com/QojWUde.png');
}

.ul--neomailimg {
    content: url('https://i.imgur.com/ljoReZK.png');
}

.ul--neofriendimg {
    background: no-repeat center/contain url('https://i.imgur.com/Br6B52f.png');
    height: auto;
    width: 50px;
    object-position: -99999px;
    margin-top: 1px;
}

.smallfont {
    font-size: .9rem;
    font-weight: bold;
}

.gamelink {
    font-size: .9rem;
}

.ul--shop > a, .ul--galleries > a, .galleries--list > li > a,
.ul--neodeck > a, .guilds--list > li > a  {
    color: #7B4F17;
}

a:hover {
    text-decoration: underline;
}

/* User Lookup Info */
#userLookupContent {
    background: url('https://www.runescape.com/img/rsp777/scroll/backdrop_745.gif') repeat-y top center;
    padding: 50px 75px;
    position: relative;
    margin-top: 350px;
}

#userLookupContent::before {
    background: url('https://www.runescape.com/img/rsp777/scroll/backdrop_765_top.gif') no-repeat center top;
    content: '';
    height: 50px;
    left: 0;
    position: absolute;
    top: -11px;
    width: 100%;    
}

#userLookupContent::after {
    background: url('https://www.runescape.com/img/rsp777/scroll/backdrop_765_bottom.gif') no-repeat center bottom;
    bottom: -11px;
    top: auto;
    content: '';
    height: 50px;
    left: 0;
    position: absolute;
    width: 100%;    
}

#userLookupInfo {
    display: grid;
    grid-template-areas:
        "text shield"
        "text shield"
        "text collections";
    grid-template-columns: 1fr 260px;
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    line-height: 1.5;    
}

li {
    margin-left: 40px;
}

#userLookupShield {
    justify-self: center;
}

.ul--shield {
    content: url('https://i.imgur.com/ruRdddL.png');
    width: 325px;
}

#userLookupCollections {
    flex-direction: row;
    justify-content: space-around;
}

.ul--avatarsimg, .ul--stampsimg {
    width: 60px;
}

.ul--stampsimg {
    content: url('https://i.imgur.com/0gB1iCC.png');
    width: 65px;
}

.stamp_overlay {
    position: absolute;
    top: 750px;
    right: 176px;
    width: 45px;
    z-index: 1;
}

.ul--collectionslabel {
    display: block;
}

.ul--avatarstext {
    transform: translateY(4px);
}

.ul--avatarstext > .ul--collectionslabel > strong {
    display: none;
}

.ul--avatarstext > .ul--collectionslabel::after {
    content: 'Avatars';
    font-weight: bolder;
}

.ul--stampstext > .ul--collectionslabel::after {
    content: '';
}

.userLookupLinks {
    margin: 20px 0;
}

/* Section Headers */
.ul--sectionheader {
    margin: 20px 0;
    font-size: 1.7rem;
}

.ul--sectionheader::before, .ul--sectionheader::after {
    content: "";
}

/* Pets */
#userPetList {
    padding: 20px 10px 5px;
    background-color: white;
    opacity: .8;
    border-radius: 20px;
    box-shadow: 0 0 5px white;
}

.ul__pet {
    width: 140px;
    margin-bottom: 20px
}

.ul--petname, .ul--petname:hover {
    margin-top: 8px;
    color: #7B4F17;
}

.ul--petimg {
    width: 100px;
    transition-duration: .7s;
}

.ul--petimg:hover {
    filter: brightness(1.75);
    transition-duration: .7s;
    transform: scale(1.1);
}

/* Trophies */
#siteTrophiesList {
    background-color: white;
    opacity: .8;
    padding: 14px 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px white;
    width: fit-content;
    margin: auto;
}

#gameTrophiesList {
    background-color: white;
    opacity: .8;
    padding: 20px 10px 5px;
    border-radius: 20px;
    box-shadow: 0 0 5px white;
}

.ul__gametrophy {
    width: 140px;
}

.ul--gametrophyimg {
    transition-duration: .7s;
}

.ul--gametrophyimg:hover {
    filter: brightness(2);
    transition-duration: .7s;
    transform: scale(1.1);
}

.ul--sitetrophyname {
    margin-top: 10px;
    width: 120px;
    font-size: .75rem !important;
}

.ul--gametrophyname {
    margin: 10px 0 15px;
    width: 120px;
    font-size: .75rem !important;
}

/* Report */
#userReportBlock {
    position: absolute;
    bottom: -60px;
    width: 665px;
}

#report, #blockuser {
    color: #90c040;
    margin: 0 10px;
    font-weight: normal;
}

#report:hover, #blockuser:hover {
    text-decoration: underline;
}
