/* START OF EDITABLE CONTENT */

/* Song: Change audio src in the HTML. Change the text before the song here. */
.audio_container::before {
  content: 'Song: Toxic (Britney Spears)';
}

/* Font: Add your preferred font to the front. Try to keep multiple fonts in case the browser doesn't support your first pick. */
/* Cursor: Change the cursor url. */
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  cursor: url('https://i.imgur.com/6OBDvcO.png'), auto;
}

/* Change cursor when hovering over links */
a, .ul--neofriendimg {
  cursor: url('https://i.imgur.com/vvprYVv.png'), auto;
}

/* To change the ABOUT text, go to HTML and change the about_text */

/* The guilds are manually positioned. In the case you get more trophies, you may need to push 
the guild list further down. Make the below number more negative to push the content down. */
.ul--guilds {
  bottom: -1220px;
}

/* END OF EDITABLE CONTENT */

/* Hidden Content */
#sb_top,
#sb_side,
#page_banner,
.ul--header,
hr,
#aio_sidebar_placeholder,
#page_footer {
  display: none;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
}

/* Page Layout */
body {
  background: url('https://i.imgur.com/ZmEBpLd.jpg');
  background: url('https://i.imgur.com/cwzkPU3.jpg');
  background-size: contain;
}

#container {
  width: 100%;
  display: block;
}

#container::before {
  content: ' ';
  height: 50px;
  width: 100%;
  background-color: #ffaade;
  display: block;
  position: absolute;
}

#page_content {
  width: fit-content;
  margin: 100px auto 50px;
}

#userLookupContent {
  display: grid;
  grid-template-columns: 500px 600px;
  grid-template-areas:
    'info         intro'
    'info         about'
    'links        about'
    'links        about'
    'audio        pets'
    'sitetrophies pets'
    'gametrophies pets'
    'guilds       pets'
    '.            pets'
    'report       report';
  gap: 30px;
  position: relative;
  margin: 0;
}

#userLookupContent > div {
  background-color: #ffaade;
  padding: 20px;
  margin: auto;
  box-sizing: border-box;
  border: 2px solid white;
  opacity: 0.9;
}

/* User Info */
#userLookupInfo {
  position: relative;
  display: block;
  grid-area: info;
  height: 300px;
  width: 100%;
}

#userLookupShield {
  position: absolute;
  top: 20px;
  left: 20px;
}

#userLookupShield::before {
  content: 'Kitten';
  font-size: 2rem;
  font-weight: 700;
  display: block;
  text-align: left;
  padding-bottom: 10px;
}

.ul--shield {
  content: url('https://i.imgur.com/mMOxqSN.jpg');
  width: 250px;
  border: 2px solid white;
}

#userLookupText {
  position: absolute;
  right: 25px;
  top: 70px;
  font-size: 0.8rem;
  height: 170px;
  display: flex;
  flex-direction: column;
}

.ul--startdate {
  display: none;
}

.ul--activedate {
  order: 4;
  margin-top: 30px;
}

.ul--sitethemes {
  margin-top: 53px;
}

.ul--shop {
  position: absolute;
  left: -255px;
  bottom: -35px;
  font-size: 0;
}

.ul--shop::before {
  content: 'View My: ';
  color: black;
  font-size: 1rem;
}

.ul--shop > a {
  width: 42px;
  height: 20px;
  position: absolute;
  color: white
}

.ul--shop > a::before {
  content: 'Shop';
  font-weight: 700;
  font-size: 1rem;
}

.ul--neodeck {
  position: absolute;
  left: -140px;
  bottom: -35px;
  font-size: 0;
}

.ul--neodeck::before,
.ul--neodeck::after {
  content: ' | ';
  color: black;
  font-size: 1rem;
}

.ul--neodeck::after {
  margin-left: 41px;
}

.ul--neodeck > a {
  color: white;
  width: 42px;
  height: 20px;
  position: absolute;
}

.ul--neodeck > a:hover {
  color: black;
}

.ul--neodeck > a::before {
  content: 'Deck';
  font-weight: 700px;
  font-size: 1rem;
}

.galleries--list {
  list-style: none;
  position: absolute;
  bottom: -35px;
  left: -70px;
  display: flex;
}

.ul--galleries > span {
  display: none;
}

.galleries--list > li {
  font-size: 0;
}

.galleries--list > li:nth-child(1)::after {
  content: ' | ';
  font-size: 1rem;
  margin: 0 4px;
}

.galleries--list > li > a {
  color: white;
  font-size: 0.9rem;
}

.galleries--list > li > a:hover {
  color: black;
}

.ul--shop > a:hover {
  color: black;
}

.ul--activedate > span > strong {
  font-size: 0;
}

.ul--activedate > span::before {
  content: 'Last Seen';
  font-weight: 700;
}

/* Links */
#userLookupLinks {
  grid-area: links;
  height: 123px;
  width: 500px;
  padding: 20px 40px !important;
}

.ul__link {
  width: 75px;
}

.ul--linkimg {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  transition-duration: .5s;
}

.ul--linkimg:hover {
  filter: brightness(1.2);
  transition-duration: .5s;
}

.ul--tradesimg {
  content: url('https://i.imgur.com/IVx25bb.png')
}

.ul--auctionsimg {
  content: url('https://i.imgur.com/vOFDL47.png')
}

.ul--wishlistimg {
  content: url('https://i.imgur.com/mzHzNpg.png')
}

.ul--scoresimg {
  content: url('https://i.imgur.com/Pt6OJFj.png')
}

.ul--neomailimg {
  content: url('https://i.imgur.com/rwwHJGH.png')
}

.ul--neofriendimg {
  content: url('https://i.imgur.com/rrteXL7.png')
}

.ul__neofriend > div {
  transform: translateY(5px);
}

/* Grid Areas */
#userLookupSiteTrophies {
  grid-area: sitetrophies;
}

#userLookupGameTrophies {
  grid-area: gametrophies;
}

#userLookupPets {
  grid-area: pets;
}

/* Description */
#userLookupDesc {
  display: contents;
}

.intro_container,
.about_container {
  background-color: #ffaade;
  box-sizing: border-box;
  padding: 20px;
  text-align: left;
  line-height: 1.6;
  border: 2px solid white;
  opacity: 0.9;
}

.intro_container {
  grid-area: intro;
}

.about_container {
  grid-area: about;
}

.about_header {
  margin-bottom: 10px;
}

/* Audio */
.audio_container {
  grid-area: audio;
  background-color: #ffaade;
  box-sizing: border-box;
  padding: 20px;
  border: 2px solid white;
  opacity: 0.9;
}

.audio_container::before {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}

/* Nav */
#nav {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
}

#nav > a {
  margin: 0 20px;
}

/* Pets */
.ul--petsheader {
  position: relative;
  text-align: left;
}

.ul--petsheader > strong {
  display: none;
}

.ul--petsheader::before {
  content: 'Kitten has 53 pets.';
  font-weight: 700;
  font-size: 1.1rem;
}

.ul--petsheader::after {
  content: '';
}

.ul__pet {
  width: 135px;
}

.ul--petimg {
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  transition-duration: 0.5s;
}

.ul--petimg:hover {
  filter: brightness(1.2);
  transition-duration: 0.5s;
}

.ul--petname {
  margin: 5px 0 10px 0;
  font-size: 0.8rem;
  color: #222933;
  transition-duration: 0.5s;
}

.ul--pet:hover {
  transition-duration: 0.5s;
}

/* Guilds */
.guilds_container {
  grid-area: guilds;
  width: 500px;
  height: 150px;
  background-color: #ffaade;
  padding: 20px 40px !important;
  box-sizing: border-box;
  opacity: 0.9;
  border: 2px solid white;
  text-align: left;
}

.guilds_header {
  font-size: 1.1rem;
}

.ul--guilds {
  position: absolute;
  left: -230px;
  font-size: 1rem;
}

.ul--guilds > span {
  font-size: 0;
}

/* Trophies */
#userLookupSiteTrophies,
#userLookkupGameTrophies {
  width: 100%;
}

.ul--sitetrophyimg,
.ul--gametrophyimg {
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  transition-duration: 0.5s;
}

.ul--gametrophyimg:hover {
  filter: brightness(1.2);
  transition-duration: 0.5s;
}

.ul__sitetrophy,
.ul__gametrophy {
  width: 140px;
}

.ul--sitetrophyname,
.ul--gametrophyname {
  margin: 5px 0 10px 0;
  font-size: 0.8rem;
  color: #222933;
}

.ul__kad_level_3 > strong {
  margin: 2px 0;
}

/* Stamps and Avatars */
.ul__avatars {
  position: absolute;
  left: 285px;
  top: 130px;
  display: flex;
}

.ul__stamps {
  position: absolute;
  left: 285px;
  top: 146px;
  display: flex;
}

.ul__avatars > a::before {
  content: 'Avatars';
  font-size: 0.8rem;
}

.ul__stamps > a::before {
  content: 'Stamps';
  font-size: 0.8rem;
}

.ul__avatars > a::before:hover .ul__stamps > a::before:hover {
  color: black;
}

.ul--collectionslabel,
.ul--avatarsimg,
.ul--stampsimg {
  display: none;
}

.ul--avatarstext,
.ul--stampstext {
  font-size: 0.8rem;
  transform: translateY(3px);
}

.ul--avatarstext::before,
.ul--stampstext::before {
  content: ' : ';
  padding-left: 4px;
}

/* Report */
#userReportBlock {
  grid-area: report;
  border: unset !important;
  background-color: unset !important;
}

#report {
  margin-right: 30px;
}

.ul--button {
  color: red;
}

@media screen and (max-width: 1130px) {
  #container::before {
    display: none;
  }

  #nav {
    background-color: #ffaade;
    padding: 20px 0 15px;
    top: -120px;
  }
}

/* HTML 

<!-- Use this file to temporarily hold the HTML for the current project -->

<div id="nav">
  <a id="create_pet" href="https://www.grundos.cafe/">Home</a>
  <a id="explore" href="https://www.grundos.cafe/explore/">Explore</a>
  <a id="games" href="https://www.grundos.cafe/games/">Games</a>
  <a id="shops" href="https://www.grundos.cafe/objects/">Shops</a>
  <a id="boards" href="https://www.grundos.cafe/neoboards/">Boards</a>
  <a id="nav_css" href="https://www.grundos.cafe/~Developer/">CSS</a>
  <a id="nav_exit" href="https://www.grundos.cafe">Exit</a>
</div>
<div class="guilds_container">
  <h3 class="guild_header">Guilds :</h3>
</div>
<div class="intro_container">
  <p class="intro_text">Hi, I'm Kitten! I've been playing Grundo's since December 05, 2022.</p>
</div>
<div class="audio_container">
  <audio id="music" controls="" src="https://cdn.discordapp.com/attachments/1153761698738610207/1156987232331247758/spotifydown.com_-_Toxic.mp3?ex=6516f7d3&is=6515a653&hm=49d1cfb061cbe47d5fcfed5c3f127f92be47194635f435e41960d16f18418e59&">
    Your browser does not support the audio element.
  </audio>
</div>
<div class="about_container">
  <h3 class="about_header">About Me:</h3>
  <p class="about_text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis ipsum vel lectus congue, vel
    malesuada diam pharetra. Praesent cursus risus vel mauris fringilla, in volutpat mauris malesuada. Praesent sit amet
    vulputate dui, quis varius diam. Integer eget vehicula neque, a viverra leo. Vestibulum lobortis leo eu urna
    accumsan, vitae pharetra orci ultrices. Etiam vel dignissim nunc. Proin imperdiet sapien tortor, a aliquet augue
    lobortis nec. Morbi nec velit et dui suscipit sagittis vitae quis orci. Nullam id gravida augue, sit amet tincidunt
    sapien. Mauris volutpat ut massa eget dictum. Duis et nunc rhoncus turpis tempus faucibus.
  </p>
</div>

*/